.header {
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 120px;
    width: 100%;
    padding: 8px 0;

    background: linear-gradient(rgb(224, 248, 72), rgb(179, 253, 181));
    &-logo {
        float: left;
        & img{
           height: 104px;
           object-fit: cover;
           border-radius: 50%;
       }
    }
    &-content {
        float: left;
        margin-left: 32px;
    }
    &-name {
        padding: 4px 0;
    }
    &-nav-item{
        display: inline-block;
        margin-right: 20px;
        font-size: 20px;
        text-decoration: none;
        color: #000;
        &:hover{
            text-decoration: underline;
            color: rgb(254, 2, 2);
        }
    }
    &-nav-item:last-child{
        margin-left: 100px;
    }
}


