@import './components/FormLogin/form-login';

.login {
    width: 600px;
    height: 550px;
    border: 1px solid #000;
    margin: 12px auto;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.6);
    &-title {
        text-align: center;
        margin: 8px 0;
    }
}